{% extends "base.html" %}
{% block content %}
<div style="width:50%; margin: auto; text-align: center;">
  <h1 style="text-align: center; background-color: rgb(82, 6, 145);" class="text-white mx-5 my-3 rounded-3 py-1" > Tasks </h1>
  <table class="table table-bordered border-dark">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      {% if item.is_completed %}
      {%else%}
      <tr>
        <td>{{item.taskTitle}}</td>
        <td>{{item.taskDescription}}</td>
        <td>{% if item.is_completed %}
            <small>Complete</small>
            {%else%}
            <small class="text-danger fw-bold">Incomplete</small>       
        {% endif %}</td>
        <td> 
          <div class="d-flex justify-content-between">
            <a style="display: inline;" href="{% url 'delete_tasks' pk=item.id%}" class="btn btn-danger btn-sm  fw-bold mx-1">Delete</a> 
          <a style="display: inline;" href="{% url 'edit_task' pk=item.id%}" class="btn btn-primary btn-sm fw-bold mx-1">Edit</a>
          <a style="display: inline;" href="{% url 'complete_task' pk=item.id%}" class="btn btn-success btn-sm fw-bold mx-1">Complete</a>
          </div>
        </td>
      </tr> 
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock  %}